In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from scipy import stats

In [4]:
#Read in Data
train = pd.read_csv('dataFiles/application_train.csv')
test = pd.read_csv('dataFiles/application_test.csv')
bureau_data = pd.read_csv('dataFiles/bureau.csv')
prev_app_data = pd.read_csv('dataFiles/previous_application.csv')

In [5]:
scaler = StandardScaler()

In [7]:
train_full_cols = train.dropna(axis=1)

In [8]:
train.NAME_TYPE_SUITE = train.NAME_TYPE_SUITE.fillna('Unaccompanied')

In [9]:
train['OWN_CAR_AGE'] = train.apply(lambda x: 0 if x['FLAG_OWN_CAR'] == 'N' else x['OWN_CAR_AGE'], axis = 1)
train['OWN_CAR_AGE'] = train['OWN_CAR_AGE'].isna().fillna(0)

In [10]:
train['CNT_FAM_MEMBERS'] = train['CNT_FAM_MEMBERS'].fillna(stats.mode(train.CNT_FAM_MEMBERS)[0][0])

In [11]:
train.EXT_SOURCE_2 = train.EXT_SOURCE_2.fillna(np.mean(train.EXT_SOURCE_2))

In [12]:
df_train = train[[i for i in train.columns if (i[-3:] == 'AVG' or i[-4:] == 'MODE' or i[-4:] == 'MEDI')]].select_dtypes(exclude='object').fillna(0)

In [13]:
new_train = pd.concat([train_full_cols, train.NAME_TYPE_SUITE, train.CNT_FAM_MEMBERS, train.EXT_SOURCE_2, df_train], axis = 1)

In [14]:
###Test

In [15]:
test_full_cols = test.dropna(axis=1)

In [16]:
test.NAME_TYPE_SUITE = test.NAME_TYPE_SUITE.fillna('Unaccompanied')

In [17]:
test['OWN_CAR_AGE'] = test.apply(lambda x: 0 if x['FLAG_OWN_CAR'] == 'N' else x['OWN_CAR_AGE'], axis = 1)
test['OWN_CAR_AGE'] = test['OWN_CAR_AGE'].isna().fillna(0)

In [18]:
test['CNT_FAM_MEMBERS'] = test['CNT_FAM_MEMBERS'].fillna(stats.mode(test.CNT_FAM_MEMBERS)[0][0])

In [19]:
test.EXT_SOURCE_2 = test.EXT_SOURCE_2.fillna(np.mean(test.EXT_SOURCE_2))

In [20]:
df_test = test[[i for i in test.columns if (i[-3:] == 'AVG' or i[-4:] == 'MODE' or i[-4:] == 'MEDI')]].select_dtypes(exclude='object').fillna(0)

In [21]:
new_test = pd.concat([test_full_cols, test.NAME_TYPE_SUITE, test.EXT_SOURCE_2, df_test], axis = 1)

In [22]:
new_test = new_test.drop(['AMT_GOODS_PRICE', 'DAYS_LAST_PHONE_CHANGE'], axis = 1)

In [23]:
new_test = new_test[['SK_ID_CURR','NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','WEEKDAY_APPR_PROCESS_START','HOUR_APPR_PROCESS_START','REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY','ORGANIZATION_TYPE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21','NAME_TYPE_SUITE','CNT_FAM_MEMBERS','EXT_SOURCE_2','APARTMENTS_AVG','BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG','YEARS_BUILD_AVG','COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG','LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG','APARTMENTS_MODE','BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI','LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAREA_MEDI','TOTALAREA_MODE']]

In [31]:
new_train_dummies = pd.get_dummies(new_train)

In [25]:
new_test_dummies = pd.get_dummies(new_test)

In [22]:
X, y = new_train_dummies.drop(['SK_ID_CURR','TARGET','CODE_GENDER_XNA','NAME_INCOME_TYPE_Maternity leave','NAME_FAMILY_STATUS_Unknown'], axis = 1), new_train.TARGET

In [23]:
X.columns = ['CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','HOUR_APPR_PROCESS_START','REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21','CNT_FAM_MEMBERS','EXT_SOURCE_2','APARTMENTS_AVG','BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG','YEARS_BUILD_AVG','COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG','LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG','APARTMENTS_MODE','BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI','LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAREA_MEDI','TOTALAREA_MODE','NAME_CONTRACT_TYPE_Cash loans','NAME_CONTRACT_TYPE_Revolving loans','CODE_GENDER_F','CODE_GENDER_M','FLAG_OWN_CAR_N','FLAG_OWN_CAR_Y','FLAG_OWN_REALTY_N','FLAG_OWN_REALTY_Y','NAME_INCOME_TYPE_Businessman','NAME_INCOME_TYPE_Commercial associate','NAME_INCOME_TYPE_Pensioner','NAME_INCOME_TYPE_State servant','NAME_INCOME_TYPE_Student','NAME_INCOME_TYPE_Unemployed','NAME_INCOME_TYPE_Working','NAME_EDUCATION_TYPE_Academic degree','NAME_EDUCATION_TYPE_Higher education','NAME_EDUCATION_TYPE_Incomplete higher','NAME_EDUCATION_TYPE_Lower secondary','NAME_EDUCATION_TYPE_Secondary / secondary special','NAME_FAMILY_STATUS_Civil marriage','NAME_FAMILY_STATUS_Married','NAME_FAMILY_STATUS_Separated','NAME_FAMILY_STATUS_Single / not married','NAME_FAMILY_STATUS_Widow','NAME_HOUSING_TYPE_Co-op apartment','NAME_HOUSING_TYPE_House / apartment','NAME_HOUSING_TYPE_Municipal apartment','NAME_HOUSING_TYPE_Office apartment','NAME_HOUSING_TYPE_Rented apartment','NAME_HOUSING_TYPE_With parents','WEEKDAY_APPR_PROCESS_START_FRIDAY','WEEKDAY_APPR_PROCESS_START_MONDAY','WEEKDAY_APPR_PROCESS_START_SATURDAY','WEEKDAY_APPR_PROCESS_START_SUNDAY','WEEKDAY_APPR_PROCESS_START_THURSDAY','WEEKDAY_APPR_PROCESS_START_TUESDAY','WEEKDAY_APPR_PROCESS_START_WEDNESDAY','ORGANIZATION_TYPE_Advertising','ORGANIZATION_TYPE_Agriculture','ORGANIZATION_TYPE_Bank','ORGANIZATION_TYPE_Business Entity Type 1','ORGANIZATION_TYPE_Business Entity Type 2','ORGANIZATION_TYPE_Business Entity Type 3','ORGANIZATION_TYPE_Cleaning','ORGANIZATION_TYPE_Construction','ORGANIZATION_TYPE_Culture','ORGANIZATION_TYPE_Electricity','ORGANIZATION_TYPE_Emergency','ORGANIZATION_TYPE_Government','ORGANIZATION_TYPE_Hotel','ORGANIZATION_TYPE_Housing','ORGANIZATION_TYPE_Industry: type 1','ORGANIZATION_TYPE_Industry: type 10','ORGANIZATION_TYPE_Industry: type 11','ORGANIZATION_TYPE_Industry: type 12','ORGANIZATION_TYPE_Industry: type 13','ORGANIZATION_TYPE_Industry: type 2','ORGANIZATION_TYPE_Industry: type 3','ORGANIZATION_TYPE_Industry: type 4','ORGANIZATION_TYPE_Industry: type 5','ORGANIZATION_TYPE_Industry: type 6','ORGANIZATION_TYPE_Industry: type 7','ORGANIZATION_TYPE_Industry: type 8','ORGANIZATION_TYPE_Industry: type 9','ORGANIZATION_TYPE_Insurance','ORGANIZATION_TYPE_Kindergarten','ORGANIZATION_TYPE_Legal Services','ORGANIZATION_TYPE_Medicine','ORGANIZATION_TYPE_Military','ORGANIZATION_TYPE_Mobile','ORGANIZATION_TYPE_Other','ORGANIZATION_TYPE_Police','ORGANIZATION_TYPE_Postal','ORGANIZATION_TYPE_Realtor','ORGANIZATION_TYPE_Religion','ORGANIZATION_TYPE_Restaurant','ORGANIZATION_TYPE_School','ORGANIZATION_TYPE_Security','ORGANIZATION_TYPE_Security Ministries','ORGANIZATION_TYPE_Self-employed','ORGANIZATION_TYPE_Services','ORGANIZATION_TYPE_Telecom','ORGANIZATION_TYPE_Trade: type 1','ORGANIZATION_TYPE_Trade: type 2','ORGANIZATION_TYPE_Trade: type 3','ORGANIZATION_TYPE_Trade: type 4','ORGANIZATION_TYPE_Trade: type 5','ORGANIZATION_TYPE_Trade: type 6','ORGANIZATION_TYPE_Trade: type 7','ORGANIZATION_TYPE_Transport: type 1','ORGANIZATION_TYPE_Transport: type 2','ORGANIZATION_TYPE_Transport: type 3','ORGANIZATION_TYPE_Transport: type 4','ORGANIZATION_TYPE_University','ORGANIZATION_TYPE_XNA','NAME_TYPE_SUITE_Children','NAME_TYPE_SUITE_Family','NAME_TYPE_SUITE_Group of people','NAME_TYPE_SUITE_Other_A','NAME_TYPE_SUITE_Other_B','NAME_TYPE_SUITE_Spouse, partner','NAME_TYPE_SUITE_Unaccompanied']

In [24]:
new_test_dummies = new_test_dummies.drop('SK_ID_CURR', axis = 1)

In [41]:
new_test_dummies.columns = ['CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY','HOUR_APPR_PROCESS_START','REG_REGION_NOT_LIVE_REGION','REG_REGION_NOT_WORK_REGION','LIVE_REGION_NOT_WORK_REGION','REG_CITY_NOT_LIVE_CITY','REG_CITY_NOT_WORK_CITY','LIVE_CITY_NOT_WORK_CITY','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8','FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18','FLAG_DOCUMENT_19','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21','CNT_FAM_MEMBERS','EXT_SOURCE_2','APARTMENTS_AVG','BASEMENTAREA_AVG','YEARS_BEGINEXPLUATATION_AVG','YEARS_BUILD_AVG','COMMONAREA_AVG','ELEVATORS_AVG','ENTRANCES_AVG','FLOORSMAX_AVG','FLOORSMIN_AVG','LANDAREA_AVG','LIVINGAPARTMENTS_AVG','LIVINGAREA_AVG','NONLIVINGAPARTMENTS_AVG','NONLIVINGAREA_AVG','APARTMENTS_MODE','BASEMENTAREA_MODE','YEARS_BEGINEXPLUATATION_MODE','YEARS_BUILD_MODE','COMMONAREA_MODE','ELEVATORS_MODE','ENTRANCES_MODE','FLOORSMAX_MODE','FLOORSMIN_MODE','LANDAREA_MODE','LIVINGAPARTMENTS_MODE','LIVINGAREA_MODE','NONLIVINGAPARTMENTS_MODE','NONLIVINGAREA_MODE','APARTMENTS_MEDI','BASEMENTAREA_MEDI','YEARS_BEGINEXPLUATATION_MEDI','YEARS_BUILD_MEDI','COMMONAREA_MEDI','ELEVATORS_MEDI','ENTRANCES_MEDI','FLOORSMAX_MEDI','FLOORSMIN_MEDI','LANDAREA_MEDI','LIVINGAPARTMENTS_MEDI','LIVINGAREA_MEDI','NONLIVINGAPARTMENTS_MEDI','NONLIVINGAREA_MEDI','TOTALAREA_MODE','NAME_CONTRACT_TYPE_Cash loans','NAME_CONTRACT_TYPE_Revolving loans','CODE_GENDER_F','CODE_GENDER_M','FLAG_OWN_CAR_N','FLAG_OWN_CAR_Y','FLAG_OWN_REALTY_N','FLAG_OWN_REALTY_Y','NAME_INCOME_TYPE_Businessman','NAME_INCOME_TYPE_Commercial associate','NAME_INCOME_TYPE_Pensioner','NAME_INCOME_TYPE_State servant','NAME_INCOME_TYPE_Student','NAME_INCOME_TYPE_Unemployed','NAME_INCOME_TYPE_Working','NAME_EDUCATION_TYPE_Academic degree','NAME_EDUCATION_TYPE_Higher education','NAME_EDUCATION_TYPE_Incomplete higher','NAME_EDUCATION_TYPE_Lower secondary','NAME_EDUCATION_TYPE_Secondary / secondary special','NAME_FAMILY_STATUS_Civil marriage','NAME_FAMILY_STATUS_Married','NAME_FAMILY_STATUS_Separated','NAME_FAMILY_STATUS_Single / not married','NAME_FAMILY_STATUS_Widow','NAME_HOUSING_TYPE_Co-op apartment','NAME_HOUSING_TYPE_House / apartment','NAME_HOUSING_TYPE_Municipal apartment','NAME_HOUSING_TYPE_Office apartment','NAME_HOUSING_TYPE_Rented apartment','NAME_HOUSING_TYPE_With parents','WEEKDAY_APPR_PROCESS_START_FRIDAY','WEEKDAY_APPR_PROCESS_START_MONDAY','WEEKDAY_APPR_PROCESS_START_SATURDAY','WEEKDAY_APPR_PROCESS_START_SUNDAY','WEEKDAY_APPR_PROCESS_START_THURSDAY','WEEKDAY_APPR_PROCESS_START_TUESDAY','WEEKDAY_APPR_PROCESS_START_WEDNESDAY','ORGANIZATION_TYPE_Advertising','ORGANIZATION_TYPE_Agriculture','ORGANIZATION_TYPE_Bank','ORGANIZATION_TYPE_Business Entity Type 1','ORGANIZATION_TYPE_Business Entity Type 2','ORGANIZATION_TYPE_Business Entity Type 3','ORGANIZATION_TYPE_Cleaning','ORGANIZATION_TYPE_Construction','ORGANIZATION_TYPE_Culture','ORGANIZATION_TYPE_Electricity','ORGANIZATION_TYPE_Emergency','ORGANIZATION_TYPE_Government','ORGANIZATION_TYPE_Hotel','ORGANIZATION_TYPE_Housing','ORGANIZATION_TYPE_Industry: type 1','ORGANIZATION_TYPE_Industry: type 10','ORGANIZATION_TYPE_Industry: type 11','ORGANIZATION_TYPE_Industry: type 12','ORGANIZATION_TYPE_Industry: type 13','ORGANIZATION_TYPE_Industry: type 2','ORGANIZATION_TYPE_Industry: type 3','ORGANIZATION_TYPE_Industry: type 4','ORGANIZATION_TYPE_Industry: type 5','ORGANIZATION_TYPE_Industry: type 6','ORGANIZATION_TYPE_Industry: type 7','ORGANIZATION_TYPE_Industry: type 8','ORGANIZATION_TYPE_Industry: type 9','ORGANIZATION_TYPE_Insurance','ORGANIZATION_TYPE_Kindergarten','ORGANIZATION_TYPE_Legal Services','ORGANIZATION_TYPE_Medicine','ORGANIZATION_TYPE_Military','ORGANIZATION_TYPE_Mobile','ORGANIZATION_TYPE_Other','ORGANIZATION_TYPE_Police','ORGANIZATION_TYPE_Postal','ORGANIZATION_TYPE_Realtor','ORGANIZATION_TYPE_Religion','ORGANIZATION_TYPE_Restaurant','ORGANIZATION_TYPE_School','ORGANIZATION_TYPE_Security','ORGANIZATION_TYPE_Security Ministries','ORGANIZATION_TYPE_Self-employed','ORGANIZATION_TYPE_Services','ORGANIZATION_TYPE_Telecom','ORGANIZATION_TYPE_Trade: type 1','ORGANIZATION_TYPE_Trade: type 2','ORGANIZATION_TYPE_Trade: type 3','ORGANIZATION_TYPE_Trade: type 4','ORGANIZATION_TYPE_Trade: type 5','ORGANIZATION_TYPE_Trade: type 6','ORGANIZATION_TYPE_Trade: type 7','ORGANIZATION_TYPE_Transport: type 1','ORGANIZATION_TYPE_Transport: type 2','ORGANIZATION_TYPE_Transport: type 3','ORGANIZATION_TYPE_Transport: type 4','ORGANIZATION_TYPE_University','ORGANIZATION_TYPE_XNA','NAME_TYPE_SUITE_Children','NAME_TYPE_SUITE_Family','NAME_TYPE_SUITE_Group of people','NAME_TYPE_SUITE_Other_A','NAME_TYPE_SUITE_Other_B','NAME_TYPE_SUITE_Spouse, partner','NAME_TYPE_SUITE_Unaccompanied']

In [42]:
from catboost import CatBoostClassifier

In [62]:
cat_model = CatBoostClassifier(iterations=100, learning_rate=0.1, loss_function = "CrossEntropy")

In [63]:
cat_model.get_params()

{'iterations': 100, 'learning_rate': 0.1, 'loss_function': 'CrossEntropy'}

In [64]:
cat_model.fit(X, y)

0:	learn: 0.5904320	total: 678ms	remaining: 1m 7s
1:	learn: 0.5126254	total: 1.4s	remaining: 1m 8s
2:	learn: 0.4548015	total: 2s	remaining: 1m 4s
3:	learn: 0.4107046	total: 2.59s	remaining: 1m 2s
4:	learn: 0.3773140	total: 3.19s	remaining: 1m
5:	learn: 0.3518709	total: 3.78s	remaining: 59.3s
6:	learn: 0.3322151	total: 4.36s	remaining: 57.9s
7:	learn: 0.3173906	total: 4.94s	remaining: 56.9s
8:	learn: 0.3055208	total: 5.5s	remaining: 55.6s
9:	learn: 0.2962136	total: 6.08s	remaining: 54.7s
10:	learn: 0.2890209	total: 6.68s	remaining: 54s
11:	learn: 0.2835416	total: 7.26s	remaining: 53.3s
12:	learn: 0.2789931	total: 7.88s	remaining: 52.7s
13:	learn: 0.2751904	total: 8.49s	remaining: 52.2s
14:	learn: 0.2723822	total: 9.08s	remaining: 51.4s
15:	learn: 0.2702284	total: 9.7s	remaining: 50.9s
16:	learn: 0.2683174	total: 10.3s	remaining: 50.2s
17:	learn: 0.2666898	total: 10.8s	remaining: 49.4s
18:	learn: 0.2655101	total: 11.4s	remaining: 48.7s
19:	learn: 0.2644168	total: 12s	remaining: 48s
20:	learn: 0.2635816	total: 12.6s	remaining: 47.2s
21:	learn: 0.2629303	total: 13.1s	remaining: 46.6s
22:	learn: 0.2622688	total: 13.7s	remaining: 46s
23:	learn: 0.2618369	total: 14.4s	remaining: 45.5s
24:	learn: 0.2613844	total: 15s	remaining: 45s
25:	learn: 0.2609751	total: 15.7s	remaining: 44.5s
26:	learn: 0.2606777	total: 16.2s	remaining: 43.9s
27:	learn: 0.2604430	total: 16.8s	remaining: 43.3s
28:	learn: 0.2601849	total: 17.4s	remaining: 42.6s
29:	learn: 0.2599991	total: 18s	remaining: 42s
30:	learn: 0.2598350	total: 18.6s	remaining: 41.3s
31:	learn: 0.2596583	total: 19.2s	remaining: 40.7s
32:	learn: 0.2595074	total: 19.9s	remaining: 40.5s
33:	learn: 0.2593832	total: 20.9s	remaining: 40.5s
34:	learn: 0.2592653	total: 21.6s	remaining: 40.2s
35:	learn: 0.2591153	total: 22.3s	remaining: 39.7s
36:	learn: 0.2590111	total: 23.2s	remaining: 39.4s
37:	learn: 0.2589173	total: 24s	remaining: 39.1s
38:	learn: 0.2588242	total: 24.7s	remaining: 38.7s
39:	learn: 0.2587312	total: 25.5s	remaining: 38.2s
40:	learn: 0.2586508	total: 26.3s	remaining: 37.8s
41:	learn: 0.2585729	total: 27s	remaining: 37.3s
42:	learn: 0.2585040	total: 27.8s	remaining: 36.9s
43:	learn: 0.2584158	total: 28.7s	remaining: 36.5s
44:	learn: 0.2583480	total: 29.5s	remaining: 36s
45:	learn: 0.2582656	total: 30.3s	remaining: 35.6s
46:	learn: 0.2582133	total: 31.5s	remaining: 35.6s
47:	learn: 0.2581513	total: 32.4s	remaining: 35.1s
48:	learn: 0.2581040	total: 33.5s	remaining: 34.9s
49:	learn: 0.2580652	total: 35.2s	remaining: 35.2s
50:	learn: 0.2580072	total: 36.3s	remaining: 34.9s
51:	learn: 0.2579070	total: 37s	remaining: 34.2s
52:	learn: 0.2578524	total: 37.8s	remaining: 33.5s
53:	learn: 0.2578139	total: 38.5s	remaining: 32.8s
54:	learn: 0.2577667	total: 39.1s	remaining: 32s
55:	learn: 0.2577356	total: 40s	remaining: 31.4s
56:	learn: 0.2576879	total: 40.6s	remaining: 30.6s
57:	learn: 0.2576464	total: 41.4s	remaining: 30s
58:	learn: 0.2575849	total: 42.2s	remaining: 29.3s
59:	learn: 0.2575411	total: 43s	remaining: 28.7s
60:	learn: 0.2575029	total: 43.7s	remaining: 27.9s
61:	learn: 0.2574551	total: 44.5s	remaining: 27.3s
62:	learn: 0.2573943	total: 45.1s	remaining: 26.5s
63:	learn: 0.2573579	total: 45.9s	remaining: 25.8s
64:	learn: 0.2573295	total: 46.8s	remaining: 25.2s
65:	learn: 0.2572944	total: 47.5s	remaining: 24.5s
66:	learn: 0.2572636	total: 48.1s	remaining: 23.7s
67:	learn: 0.2572317	total: 48.7s	remaining: 22.9s
68:	learn: 0.2571743	total: 49.3s	remaining: 22.2s
69:	learn: 0.2571342	total: 49.9s	remaining: 21.4s
70:	learn: 0.2571015	total: 50.6s	remaining: 20.6s
71:	learn: 0.2570592	total: 51.1s	remaining: 19.9s
72:	learn: 0.2570277	total: 51.7s	remaining: 19.1s
73:	learn: 0.2569943	total: 52.4s	remaining: 18.4s
74:	learn: 0.2569579	total: 53.1s	remaining: 17.7s
75:	learn: 0.2569394	total: 53.9s	remaining: 17s
76:	learn: 0.2569149	total: 54.8s	remaining: 16.4s
77:	learn: 0.2568827	total: 55.4s	remaining: 15.6s
78:	learn: 0.2568606	total: 56.1s	remaining: 14.9s
79:	learn: 0.2568355	total: 57s	remaining: 14.2s
80:	learn: 0.2567981	total: 57.8s	remaining: 13.6s
81:	learn: 0.2567609	total: 58.7s	remaining: 12.9s
82:	learn: 0.2567345	total: 59.4s	remaining: 12.2s
83:	learn: 0.2567198	total: 1m	remaining: 11.5s
84:	learn: 0.2566875	total: 1m 1s	remaining: 10.8s
85:	learn: 0.2566502	total: 1m 1s	remaining: 10.1s
86:	learn: 0.2566047	total: 1m 2s	remaining: 9.34s
87:	learn: 0.2565748	total: 1m 3s	remaining: 8.63s
88:	learn: 0.2565425	total: 1m 3s	remaining: 7.91s
89:	learn: 0.2565102	total: 1m 4s	remaining: 7.2s
90:	learn: 0.2564950	total: 1m 5s	remaining: 6.47s
91:	learn: 0.2564812	total: 1m 6s	remaining: 5.76s
92:	learn: 0.2564632	total: 1m 7s	remaining: 5.05s
93:	learn: 0.2564358	total: 1m 7s	remaining: 4.33s
94:	learn: 0.2563985	total: 1m 8s	remaining: 3.61s
95:	learn: 0.2563619	total: 1m 9s	remaining: 2.89s
96:	learn: 0.2563322	total: 1m 10s	remaining: 2.17s
97:	learn: 0.2563040	total: 1m 10s	remaining: 1.45s
98:	learn: 0.2562920	total: 1m 11s	remaining: 723ms
99:	learn: 0.2562602	total: 1m 12s	remaining: 0us

In [65]:
test_y_cat = pd.DataFrame(cat_model.predict_proba(new_test_dummies))
submission_cat = pd.concat([test.SK_ID_CURR, test_y_cat], axis=1).drop(0, axis = 1)
submission_cat.columns = ['SK_ID_CURR', 'Target']
submission_cat.to_csv('submission_new_cat.csv', index = False)

In [69]:
train_y_cat = pd.DataFrame(cat_model.predict_proba(new_train_dummies.drop('TARGET', axis = 1)))

In [77]:
train_cat = pd.concat([train.SK_ID_CURR, train.TARGET, train_y_cat], axis=1).drop(0, axis = 1)

In [79]:
train_cat.sort_values(['TARGET', 1], ascending = False)

        SK_ID_CURR  TARGET         1
306038      454580       1  0.151220
199227      330974       1  0.149527
19734       123008       1  0.143187
45416       152602       1  0.141087
125659      245714       1  0.140516
264995      406866       1  0.130767
80395       193201       1  0.128553
140969      263441       1  0.127462
76859       189126       1  0.125978
291261      437417       1  0.122544
99400       215405       1  0.121476
163836      289920       1  0.121213
220274      355176       1  0.119494
119560      238647       1  0.118816
26694       131028       1  0.116819
79983       192719       1  0.115836
268224      410803       1  0.114602
184220      313528       1  0.113868
207829      340891       1  0.113696
90161       204676       1  0.113152
267014      409361       1  0.112950
231195      367782       1  0.112819
113050      231117       1  0.111810
293521      440052       1  0.111441
69675       180817       1  0.111234
226021      361787       1  0.110123
2181        102559       1  0.109854
264043      405757       1  0.109618
222540      357776       1  0.109567
133410      254730       1  0.109147
...            ...     ...       ...
138075      260125       0  0.014387
278752      422933       0  0.014357
77218       189536       0  0.014316
116613      235234       0  0.014297
228567      364741       0  0.014240
203851      336333       0  0.014172
27015       131399       0  0.014159
139056      261237       0  0.014069
119316      238363       0  0.014021
303689      451860       0  0.013946
57583       166731       0  0.013942
12134       114149       0  0.013935
262418      403786       0  0.013862
139382      261610       0  0.013765
68919       179930       0  0.013576
116302      234871       0  0.013493
186907      316674       0  0.013095
291128      437259       0  0.013073
213274      347145       0  0.013038
172251      299614       0  0.012996
85908       199686       0  0.012874
13872       116172       0  0.012868
123364      243060       0  0.012716
226433      362277       0  0.012709
211593      345199       0  0.012642
48739       156444       0  0.012585
276081      419937       0  0.011837
206141      338942       0  0.011275
78731       191268       0  0.011252
50756       158773       0  0.010613

[307511 rows x 3 columns]

In [73]:
train_cat

       SK_ID_CURR         1
0          100001  0.031738
1          100005  0.125166
2          100013  0.047222
3          100028  0.061840
4          100038  0.121475
5          100042  0.024588
6          100057  0.059472
7          100065  0.060096
8          100066  0.033208
9          100067  0.045432
10         100074  0.043614
11         100090  0.081181
12         100091  0.120841
13         100092  0.068865
14         100106  0.092702
15         100107  0.084974
16         100109  0.043536
17         100117  0.055893
18         100128  0.080894
19         100141  0.056907
20         100150  0.059767
21         100168  0.019583
22         100169  0.030155
23         100170  0.060318
24         100171  0.061614
25         100172  0.113158
26         100184  0.057949
27         100187  0.060485
28         100212  0.053123
29         100222  0.039122
...           ...       ...
48714      455963  0.094106
48715      455965  0.048263
48716      456007  0.381146
48717      456008  0.034577
48718      456009  0.109961
48719      456010  0.122243
48720      456011  0.100576
48721      456013  0.106158
48722      456028  0.190415
48723      456058  0.036417
48724      456111  0.121146
48725      456114  0.142944
48726      456115  0.088734
48727      456116  0.042139
48728      456119  0.034341
48729      456120  0.080845
48730      456122  0.102592
48731      456123  0.043695
48732      456166  0.132972
48733      456167  0.059120
48734      456168  0.111026
48735      456169  0.034143
48736      456170  0.039189
48737      456189  0.046155
48738      456202  0.056431
48739      456221  0.041617
48740      456222  0.079815
48741      456223  0.040856
48742      456224  0.100215
48743      456250  0.109192

[48744 rows x 2 columns]

In [ ]:
train_subset = train[['SK_ID_CURR', 'TARGET', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY']]

In [ ]:
annuity_avg = np.mean(train_subset.AMT_ANNUITY)

In [ ]:
train_subset.AMT_ANNUITY = train_subset.AMT_ANNUITY.fillna(annuity_avg)

In [ ]:
X, y = train_subset.drop(['SK_ID_CURR','TARGET'], axis = 1), train_subset.TARGET

In [ ]:
model = RandomForestClassifier()

In [ ]:
model

In [ ]:
model.fit(X, y)

In [ ]:
test_subset = test[['SK_ID_CURR', 'AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY']]

In [ ]:
test_subset.AMT_ANNUITY = test_subset.AMT_ANNUITY.fillna(np.mean(test_subset.AMT_ANNUITY))

In [ ]:
test_X = test_subset.drop('SK_ID_CURR', axis = 1)

In [ ]:
test_y = pd.DataFrame(model.predict_proba(test_X))

In [ ]:
submission_df = pd.concat([test.SK_ID_CURR, test_y], axis=1).drop(0, axis = 1)

In [ ]:
submission_df.columns = ['SK_ID_CURR', 'Target']

In [ ]:
#submission_df.to_csv('first_submission.csv', index = False)

In [ ]:
############################## All Numeric Non-Null Columns

In [ ]:
numeric_train = train.select_dtypes(exclude='object')

In [ ]:
numeric_train_subset = numeric_train.dropna(axis = 1)

In [ ]:
X, y = numeric_train_subset.drop(['SK_ID_CURR','TARGET'], axis = 1), numeric_train_subset.TARGET

In [ ]:
model.fit(X, y)

In [ ]:
test_X2 = test[X.columns]

In [ ]:
test_y2 = pd.DataFrame(model.predict_proba(test_X2))

In [ ]:
submission_df2 = pd.concat([test.SK_ID_CURR, test_y2], axis=1).drop(0, axis = 1)

In [ ]:
submission_df2.columns = ['SK_ID_CURR', 'Target']

In [ ]:
#submission_df2.to_csv('2nd_submission.csv', index = False)

In [ ]:
##### catboost

In [ ]:
from catboost import CatBoostClassifier

In [ ]:
cat_model = CatBoostClassifier(iterations=10,
    learning_rate=0.1)

In [ ]:
cat_model.fit(X, y)

In [ ]:
test_y_cat = pd.DataFrame(cat_model.predict_proba(test_X2))
submission_cat = pd.concat([test.SK_ID_CURR, test_y_cat], axis=1).drop(0, axis = 1)
submission_cat.columns = ['SK_ID_CURR', 'Target']
#submission_cat.to_csv('submission_cat.csv', index = False)

In [ ]:
##### EDA

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
train_subset = train_subset.loc[train_subset.AMT_INCOME_TOTAL <= 100000000]

In [ ]:
numeric_train.groupby('TARGET').median()

In [ ]:
numeric_train.FLAG_DOCUMENT_4.value_counts()

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
confusion_matrix(numeric_train.FLAG_DOCUMENT_4, numeric_train.TARGET)

In [ ]:
numeric_train.FLAG_DOCUMENT_4.value_counts()

In [ ]:
numeric_train.TARGET.value_counts()

In [ ]:
##### Exploring Bureau Data

In [ ]:
bureau_data.head()

In [ ]:
bureau_data_grouped = bureau_data.groupby('SK_ID_CURR', as_index=False).agg({'SK_ID_BUREAU': 'count', 'AMT_CREDIT_MAX_OVERDUE':sum,\
                                                      'AMT_CREDIT_SUM_OVERDUE': sum})

In [ ]:
# Joining Bureau Grouped Data with Train Data

merged_data = train.merge(bureau_data_grouped, how = 'left', left_on = 'SK_ID_CURR', right_on = 'SK_ID_CURR')

In [ ]:
merged_data = merged_data[['SK_ID_CURR','TARGET','NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','NAME_TYPE_SUITE',\
            'NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH',\
            'OWN_CAR_AGE','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','CNT_FAM_MEMBERS','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY',\
            'WEEKDAY_APPR_PROCESS_START','EMERGENCYSTATE_MODE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8',\
            'FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18',\
            'FLAG_DOCUMENT_21','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21','AMT_CREDIT_MAX_OVERDUE','AMT_CREDIT_SUM_OVERDUE']]

In [ ]:
len(merged_data.columns)

In [ ]:
merged_data_dummies = pd.get_dummies(merged_data)

In [ ]:
def fill_missing_avg(df, col):
    df[col] = df[col].fillna(np.mean(df[col]))

In [ ]:
fill_missing_avg(merged_data_dummies, 'AMT_ANNUITY')
fill_missing_avg(merged_data_dummies, 'AMT_GOODS_PRICE')
fill_missing_avg(merged_data_dummies, 'OWN_CAR_AGE')
fill_missing_avg(merged_data_dummies, 'CNT_FAM_MEMBERS')
fill_missing_avg(merged_data_dummies, 'AMT_CREDIT_MAX_OVERDUE')
fill_missing_avg(merged_data_dummies, 'AMT_CREDIT_MAX_OVERDUE')
fill_missing_avg(merged_data_dummies, 'AMT_CREDIT_SUM_OVERDUE')

In [ ]:
X, y = merged_data_dummies.drop(['SK_ID_CURR','TARGET','CODE_GENDER_XNA','NAME_FAMILY_STATUS_Unknown', 'NAME_INCOME_TYPE_Maternity leave'], axis = 1), merged_data_dummies.TARGET

In [ ]:
cat_model.fit(X, y)

In [ ]:
merged_test = test.merge(bureau_data_grouped, how = 'left', left_on = 'SK_ID_CURR', right_on = 'SK_ID_CURR')

In [ ]:
merged_test = merged_test[['SK_ID_CURR','NAME_CONTRACT_TYPE','CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','CNT_CHILDREN','AMT_INCOME_TOTAL','AMT_CREDIT','AMT_ANNUITY','AMT_GOODS_PRICE','NAME_TYPE_SUITE',\
            'NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','REGION_POPULATION_RELATIVE','DAYS_BIRTH','DAYS_EMPLOYED','DAYS_REGISTRATION','DAYS_ID_PUBLISH',\
            'OWN_CAR_AGE','FLAG_MOBIL','FLAG_EMP_PHONE','FLAG_WORK_PHONE','FLAG_CONT_MOBILE','FLAG_PHONE','FLAG_EMAIL','CNT_FAM_MEMBERS','REGION_RATING_CLIENT','REGION_RATING_CLIENT_W_CITY',\
            'WEEKDAY_APPR_PROCESS_START','EMERGENCYSTATE_MODE','FLAG_DOCUMENT_2','FLAG_DOCUMENT_3','FLAG_DOCUMENT_4','FLAG_DOCUMENT_5','FLAG_DOCUMENT_6','FLAG_DOCUMENT_7','FLAG_DOCUMENT_8',\
            'FLAG_DOCUMENT_9','FLAG_DOCUMENT_10','FLAG_DOCUMENT_11','FLAG_DOCUMENT_12','FLAG_DOCUMENT_13','FLAG_DOCUMENT_14','FLAG_DOCUMENT_15','FLAG_DOCUMENT_16','FLAG_DOCUMENT_17','FLAG_DOCUMENT_18',\
            'FLAG_DOCUMENT_21','FLAG_DOCUMENT_20','FLAG_DOCUMENT_21','AMT_CREDIT_MAX_OVERDUE','AMT_CREDIT_SUM_OVERDUE']]

In [ ]:
merged_test_dummies = pd.get_dummies(merged_test)

In [ ]:
fill_missing_avg(merged_test_dummies, 'AMT_ANNUITY')
fill_missing_avg(merged_test_dummies, 'OWN_CAR_AGE')
fill_missing_avg(merged_test_dummies, 'AMT_CREDIT_MAX_OVERDUE')
fill_missing_avg(merged_test_dummies, 'AMT_CREDIT_SUM_OVERDUE')

In [ ]:
IDs = merged_test_dummies['SK_ID_CURR']

In [ ]:
merged_test_dummies = merged_test_dummies.drop('SK_ID_CURR', axis = 1)

In [ ]:
test_y_cat = pd.DataFrame(cat_model.predict_proba(merged_test_dummies))
submission_cat = pd.concat([IDs, test_y_cat], axis=1).drop(0, axis = 1)
submission_cat.columns = ['SK_ID_CURR', 'Target']
submission_cat.to_csv('submission_cat2.csv', index = False)

In [ ]:
##### Naive Bayes

In [ ]:
from sklearn.naive_bayes import BernoulliNB

In [ ]:
nb_model = BernoulliNB()

In [ ]:
merged_data_dummies['DAYS_BIRTH'] = merged_data_dummies['DAYS_BIRTH'] * -1

In [ ]:
merged_data_dummies['DAYS_REGISTRATION'] = merged_data_dummies['DAYS_REGISTRATION'].apply(lambda x: x * -1 if x < 0 else x)
merged_data_dummies['DAYS_EMPLOYED'] = merged_data_dummies['DAYS_EMPLOYED'].apply(lambda x: x * -1 if x < 0 else x)
merged_data_dummies['DAYS_ID_PUBLISH'] = merged_data_dummies['DAYS_ID_PUBLISH'].apply(lambda x: x * -1 if x < 0 else x)

In [ ]:
X, y = merged_data_dummies.drop(['SK_ID_CURR','TARGET','CODE_GENDER_XNA','NAME_FAMILY_STATUS_Unknown', 'NAME_INCOME_TYPE_Maternity leave'], axis = 1), merged_data_dummies.TARGET

In [ ]:
nb_model.fit(X, y)

In [ ]:
merged_test_dummies['DAYS_BIRTH'] = merged_test_dummies['DAYS_BIRTH'].apply(lambda x: x * -1 if x < 0 else x)
merged_test_dummies['DAYS_REGISTRATION'] = merged_test_dummies['DAYS_REGISTRATION'].apply(lambda x: x * -1 if x < 0 else x)
merged_test_dummies['DAYS_EMPLOYED'] = merged_test_dummies['DAYS_EMPLOYED'].apply(lambda x: x * -1 if x < 0 else x)
merged_test_dummies['DAYS_ID_PUBLISH'] = merged_test_dummies['DAYS_ID_PUBLISH'].apply(lambda x: x * -1 if x < 0 else x)
merged_test_dummies['REGION_RATING_CLIENT_W_CITY'] = merged_test_dummies['REGION_RATING_CLIENT_W_CITY'].apply(lambda x: x * -1 if x < 0 else x)

In [ ]:
test_y_nb = pd.DataFrame(nb_model.predict_proba(merged_test_dummies))
submission_nb = pd.concat([IDs, test_y_nb], axis=1).drop(0, axis = 1)
submission_nb.columns = ['SK_ID_CURR', 'Target']
submission_nb.to_csv('submission_nb1.csv', index = False)

In [ ]:
### Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
rf_model = RandomForestClassifier(n_estimators =25, 
                                       random_state = 1, 
                                       criterion='gini')

In [ ]:
rf_model.fit(X, y)

In [ ]:
new_test_dummies = new_test_dummies.drop('SK_ID_CURR', axis = 1)

In [ ]:
test_y_rf = pd.DataFrame(rf_model.predict_proba(new_test_dummies))

In [ ]:
new_test_dummies.columns

In [ ]:
[i for i in X.columns if i not in new_test_dummies.columns]

In [ ]:
new_test_dummies.

In [ ]:
new_test_dummies.head()

In [ ]:

submission_rf = pd.concat([IDs, test_y_rf], axis=1).drop(0, axis = 1)
submission_rf.columns = ['SK_ID_CURR', 'Target']
submission_rf.to_csv('submission_rf2.csv', index = False)

In [ ]:
pd.DataFrame(sorted(zip(rf_model.feature_importances_, X.columns), reverse=True), \
             columns = ['Importance','Metric']).head(15)

In [ ]:
train.info()